appdirs==1.4.4
attrs==20.3.0
cfgv==3.2.0
dataclasses==0.6
distlib==0.3.1
filelock==3.0.12
future==0.18.2
identify==1.5.9
iniconfig==1.1.1
nodeenv==1.5.0
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pluggy==0.13.1
pre-commit==2.8.2
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
six==1.15.0
toml==0.10.2
torch==1.7.0
typing-extensions==3.7.4.3
virtualenv==20.1.0
