appdirs==1.4.4
attrs==22.2.0
cfgv==3.3.1
dataclasses==0.6
distlib==0.3.6
filelock==3.9.0
future==0.18.3
identify==2.5.13
iniconfig==2.0.0
nodeenv==1.7.0
numpy==1.22.4
packaging==21.3
pandas==1.5.2
pluggy==1.0.0
pre-commit==2.21.0
py==1.9.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.7
pyyaml==6.0
six==1.16.0
toml==0.10.2
torch==1.12.1
typing-extensions==4.4.0
virtualenv==20.17.1
